[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=kritatoot
X-Python-2-Compatible=false
Name=kritatoot
Comment=Post an image on Mastodon.
